.error {
  border: 1px solid red;
}

.cardHolder {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.imgContainer {
  display: flex;
  background-color: peach;
  margin: auto;
}

.buttonContainer {
  width: inherit;
  justify-content: space-between;
}

.cardImage{
  width: inherit;
}

.restaurantInfoCardContainer{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 1px 1px 20px #AAA9B2;
  padding: 25px;
  background-color: rgb(5, 66, 109);
  border: 20px solid white;
  color: white;
}
.restaurantInfoImageContainer {
  display: flex;
  margin-right: 100px;
  justify-content: left;
  width: 300px;
  border-radius: 2%;
  overflow: hidden;
  align-items: center;
}

.restaurantInfoContainer {
  color: black;
}

.restaurantInfoImage {
  width:inherit;
  border-radius: 5px;
}

.mainCardHeader {
  margin-bottom: 20px;
}

.mainCardRestaurantName {
  margin-bottom: 0px;
}

.MainCardAddressContainer {
  margin-bottom: 15px;
}

.additionalInfo {
  margin-bottom: 15px;
}

.ratingAndPrice {
  margin-bottom: 15px;
}

.bigText {
  font-size: 200px;
  text-align: center;
  margin-top: -20px;
  word-wrap: break-word;
  letter-spacing: 5px;
}

.errorMessage {
  color: black;
}

.friendContainer {
  /* border: 1px solid rgb(199, 208, 212); */
  padding: 5px;
  box-shadow: 1px 2px 10px rgb(218, 217, 217);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.friendListContainer {
  display: flex;
  flex-direction: column;
}

.mainFriendContainer{
  display: flex;
  justify-content: center;
}

.searchContainer{
  display: flex;
  justify-content: center;
}