@import "./styles/keyframes.css";
@import "./styles/backgrounds.css";
@import "./styles/buttons.css";
@import "./styles/text.css";

:root {
  --chewsyRed: #FF5A5A;
  --headerBlue: #5d7a98;
}


.error {
  border: 1px solid red;
}

html, body {
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
}
.main{
  height: 100vh;
}

.cardImage{
  width: inherit;
  vertical-align: middle;
  border-style: none;
  max-height: 500px;
  max-width: 400px;
  justify-content: center;
  display: flex;
}

.cardHolder {
  margin: auto;
}

.stickyHeader {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--headerBlue);
  padding: 5px;
}

.chewsyHeader {
  background-color: rgb(245, 138, 88, .2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 10px 50px 10px;
  padding: 20px;
}

.cardButtonContainer {
  /* display: inline; */
  margin: auto;
}

.imgContainer {
  width: 100%;
  height: auto;
  justify-content: center;
}

.takeoutImg {
  width: 100px;
  filter: invert(100%);
  position: absolute;
  bottom: 0px;
  margin: auto;
  margin-top: 20px;
}

.mainRestaurantCardContainer {
  padding: 10px;
}

.restaurantInfoCardContainer{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 1px 1px 20px #AAA9B2;
  padding: 25px;
  background: rgb(10,158,157);
  background: -moz-linear-gradient(90deg, rgba(10,158,157,1) 0%, rgba(92,18,136,1) 69%, rgba(27,0,57,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(10,158,157,1) 0%, rgba(92,18,136,1) 69%, rgba(27,0,57,1) 100%);
  background: linear-gradient(90deg, rgba(10,158,157,1) 0%, rgba(92,18,136,1) 69%, rgba(27,0,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a9e9d",endColorstr="#1b0039",GradientType=1);
  border: 10px solid white;
  color: white;
}

.restaurantInfoImage {
  width:inherit;
  border-radius: 5px;
  width: 100%;
}

.searchInput {
  display: inline;
  flex-direction: row;
  justify-content: center;
  /* margin: 0px 20px; */
}

.searchContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10px;
}

.myGalleryClass {
  margin: 135px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  justify-content: center;
  column-count: 2;
  column-gap: 2px;
  /* align-content: center; */
  /* right: 30px; */
}

.loginContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
   .fade:hover {
      opacity: 0.5;
}

.findFriendTable {
  background-color: white;
}


.friendName {
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}
.notFriendName {
  text-align: center;
  border-radius: 0px 0px 0px 0px;
}
.friendCity {
  border-radius: 0px 0px 0px 0px;
  text-align: center;
}
.notFriendCity {
  text-align: center;
  border-radius: 0px 0px 15px 15px;
}
.friendListContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.favoritePageRatings {
  display: flex;
  justify-content: center;
}

.widget-ratings{
  display: flex;
}

.yelpRatingsContainer,
.userRatingsContainer{
  margin-bottom: 1em;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.card {
  width: 100%;
  margin-bottom: 2px;
  padding: 2px;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

@media only screen and (min-width: 760px) {

  .friendName {
    border-radius: 15px 0px 0px 0px;
  }
  .notFriendName {
    border-radius: 0px 0px 0px 0px;
  }
  .friendCity {
    border-radius: 0px 0px 0px 0px;
  }
  .notFriendCity {
    border-radius: 0px 0px 15px 0px;
  }
  .friendListContainer {
    display: flex;
    flex-direction: column;
  }

  .myGalleryClass {
    margin: 80px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
    justify-content: center;
    column-count: 4;
    column-gap: 2px;
    position: none;
    /* align-content: center; */
    /* right: 30px; */
  }

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 20px;
}

  .stickyPageHeader {
    text-align: center;
    color: white;
    margin-left: 40px;
  }

  .my-gallery-class {
    margin: 100px 0px 0px 0px;
    padding: 0px 35px 0px 35px;
    justify-content: center;
    right: 36px;
  }

  .loginContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

  .stickyHeader {
    display: flex;
    justify-content: space-between;
    /* margin: 0px 40px; */
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: var(--headerBlue)
  }

  .inputEmail,
  .inputPassword {
    color:white;
  }

  .cardHolder {
    margin-top: 100px;
    margin: auto;
    position: absolute;
    left: 34%;
    right: 30%;
    padding: 5px;
    display: flex;
    max-width: 500px
  }

  .imgContainer {
    display: flex;
    border: 5px solid white;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
    width: 400px;
    align-items: center;
  }

  .cardButtonContainer {
    display: inline;
  }

  .cardImage{
    width: inherit;
    vertical-align: middle;
    border-style: none;
    max-height: 500px;
    max-width: 400px;
    justify-content: center;
    display: flex;
  }

  .card{
    max-width: 350px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
         break-inside: avoid; /* IE 10+ */
  }
  .restaurantInfoImageContainer {
    display: flex;
    margin-right: 100px;
    justify-content: left;
    width: 400px;
    padding: 10px;
    border-radius: 2%;
    overflow: hidden;
    align-items: center;
  }

  .restaurantInfoContainer {
    color: black;
    margin: 10px;
  }

  .restaurantInfoCardContainer{
    max-width: 100%;
  }

  .mainCardHeader {
    margin-bottom: 20px;
  }

  .mainCardRestaurantName {
    margin-bottom: 0px;
  }

  .MainCardAddressContainer {
    margin-bottom: 15px;
  }

  .additionalInfo {
    margin-bottom: 15px;
  }

  .ratingAndPrice {
    margin-bottom: 15px;
  }

  .errorMessage {
    color: black;
  }

  .friendContainer {
    padding: 5px;
    box-shadow: 1px 2px 10px rgb(218, 217, 217);
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .friendListContainer {
    display: flex;
    flex-direction: column;
  }

  .mainFriendContainer{
    display: flex;
    justify-content: center;
  }

  .searchContainer{
    display: flex;
    justify-content: center;
  }

  .oneFriendTopButtonDiv{
    display: flex;
    justify-content: center;
  }

  .favNotes {
    border: 3px solid rgb(245, 138, 88, .2);
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
  }

  .favoritePageRatings {
    margin-bottom: 15px;
  }

  .friendButtonContainer,
  .favButtonContainer {
    display: flex;
    justify-content: center;
  }

  .registrationTakeout {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}
